*{
    padding: 0;
    margin: 0;
}
#body{
    justify-content:center;
    text-align: center;
    width: 100%;
    height: 100%;
    
}
h1{
    margin: auto;
    position: absolute;
}
#game{
    margin: auto;
    margin-top: 150px;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    transform: scale(2.0);
}
#character{
    width: 32px;
    height: 32px;
    background-image: url(images/goose.png);
    position: relative;
    top: 160px;
    left: 100px;
}
.animate{
    animation: jump 500ms infinite;
}
.running{
    animation: run 100ms infinite;
}
@keyframes jump{
    0%{top: 160px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 160px;}
}
#block{
    width: 32px;
    height: 32px;
    background-image: url(images/flower.png);
    position: relative;
    top: 130px;
    left: 480px;
    transform: scale(0.8);
}
.moving{
    animation: block 1.8s infinite;
}
@keyframes block{
    0%{left:482px;}
    100%{left:-10px}
}
#end-page{
    margin: auto;
    position: relative;
    top: 100px;
    width: 200px;
    height: 100px;
    background-color: lightpink;
    text-align: center;
    padding: 15px;
}
.score{
    margin: auto;
    position: relative;
    top: 70px;
}